# 23/09/25  Experiment 383 FANS data wrangling
In the `SortStatsFromPDFSortReports.ipynb` notebook, I used the Camelot module to read the .PDF sort reports generated by the BD FACSChorus software during the FANS sorting experiments. I wrote some functions that worked through all the reports, combining them based on the sample (brain) of origin, with the total cell count for each type summed. I finally combined the resultant CSV files into one, which we will work with in this notebook. 

To do:
- Obtain the metadata manually filled in during the sorting period of lab work; here, I will need to extract the sample mass values as well as the group identity of each sample.
- Combine the sort counts data with the mass and group columns from the metadata
- Calculate a mass-normalised statistic for reporting cell numbers. divide cell numbers by mass will probably work. Could also normalise all samples to 250 mg.
- Exploratory data analysis & data visualisations
- inferential stats. as appropriate

## In this notebook:
The metadata file was filled in by hand as I processed each sample in the lab. It includes columns that were only required for lab-based work, such as volumes to add to aliquots of homogenates to make them an equal concentration. We need to tidy this file up and then merge it with the estimated sort counts per cell type generated in the previous `SortStatsFromPDFSortReports.ipynb` notebook.

In [1]:
import pandas as pd
from pathlib import Path
import os

In [2]:
# Read the sort stats extracted from .PDFs:
#  Build Paths
exp383Dir = Path("phd_work/experiment_383/exp_383_flowCytometry_analysis")
sortStatsPath = Path.home() / exp383Dir / "output"  / "combined_counts"/ "Exp_383_FANS_combined_counts.csv" 
# Read file
sortStatsDf = pd.read_csv(sortStatsPath)
sortStatsDf

     sample_id Population  EstTotalCount
0       918310       PU1+         144824
1       918310      NeuN+        4359464
2       918310     SOX10+         668362
3       918310      SOX2+         249886
4       917423       PU1+         256364
..         ...        ...            ...
283     917445      SOX2+         358748
284     918278       PU1+         300484
285     918278      NeuN+        5392996
286     918278     SOX10+        1154194
287     918278      SOX2+         174691

[288 rows x 3 columns]

In [3]:
# Read the metadata from the spreadsheet I made during
# the sorting phase.
# Build Paths:
netDrive = Path("/media/tmurphy/windows_mount_u")
exp383FansDir = Path("experiment-383/experiment_383_FANS_data")

FansMetaPath = netDrive / exp383FansDir / "25-04-07-EXP_383_FANS_SAMPLE_METADATA.csv"

# Read file
FansMetaData = pd.read_csv(FansMetaPath)
FansMetaData

,mouse_n,group_assignment,group_no,inoculation_batch,date_nuc_prep,sample_mass_mg,w/v%_of_100ul_aliquot,volume_to_make_5pct,inccubation_start_time,incubation_finish_time,incubation_time_hrs
0,918310,BATCH4_RML_60,1,BATCH4,250506,246,10.95,119.06,16:00:00,11:00:00,19.00
1,917423,BATCH3_22L_120,19,BATCH3,250506,207,9.38,87.58,17:45:00,13:25:00,19.67
2,918309,BATCH4_CBH_60,4,BATCH4,250507,240,10.71,114.29,18:05:00,11:00:00,16.92
3,916462,BATCH1_RML_60,1,BATCH1,250508,248,11.03,120.64,16:30:00,11:00:00,18.50
4,918277,BATCH4_RML_90,9,BATCH4,250508,220,9.91,98.20,17:58:00,12:57:00,18.98
...,...,...,...,...,...,...,...,...,...,...,...
67,918318,BATCH4_CBH_60,4,BATCH4,250819,221,9.95,99.01,17:47:00,13:16:00,19.48
68,917440,BATCH3_CBH_60,4,BATCH3,250820,254,11.27,125.38,17:00:00,11:48:00,18.80
69,916468,BATCH1_22L_120,19,BATCH1,250820,243,10.83,116.67,18:12:00,13:38:00,19.43
70,917445,BATCH3_22L_60,3,BATCH3,250821,294,12.82,156.32,13:12:00,11:49:00,22.62
71,918278,BATCH4_RML_120,17,BATCH4,250821,215,9.71,94.13,19:10:00,13:15:00,18.08

In [4]:
# We do not need every column of the metadata.
# some were included for recording the data in the lab.

FansMetaData = pd.DataFrame(FansMetaData.drop(columns=[
    "w/v%_of_100ul_aliquot",
    "volume_to_make_5pct",
    "inccubation_start_time",
    "incubation_finish_time"
]))

In [5]:
# Check datatypes present before we proceed with making changes
FansMetaData.dtypes

mouse_n                  int64
group_assignment        object
group_no                 int64
inoculation_batch       object
date_nuc_prep            int64
sample_mass_mg           int64
incubation_time_hrs    float64
dtype: object

In [6]:
# Split group_assignment into two columns 'inoculum' and 'dpi'
# discard original column as batch recorded elsewhere

# Ensure string type and remove whitespace
FansMetaData["group_assignment"] = FansMetaData["group_assignment"].astype(str).str.strip()

# Split the strings present in this column into three:
# this creates another dataframe with columns 0, 1, 2 with each part of orig. string
parts = FansMetaData["group_assignment"].str.split("_", n=2, expand=True)

# Assign column 1 from parts df as inoculum column in orignal df
FansMetaData['inoculum'] = parts[1]

# Creating the dpi column:
# we want this variable to be a cateogrical variable with ordered levels.
dpiVals = pd.to_numeric(parts[2]) 

# get unique dpi values, sort them in ascending order, convert to list
dpiCategories = sorted(dpiVals
    .dropna()
    .unique()
    .tolist())
# make the new column with order of categories specified by dpiCategories
FansMetaData["dpi"] = pd.Categorical(dpiVals, categories=dpiCategories, ordered=True)

#remove original group column
FansMetaData = FansMetaData.drop(['group_assignment'], axis=1)

# check df
FansMetaData.head()

,mouse_n,group_no,inoculation_batch,date_nuc_prep,sample_mass_mg,incubation_time_hrs,inoculum,dpi
0,918310,1,BATCH4,250506,246,19.00,RML,60
1,917423,19,BATCH3,250506,207,19.67,22L,120
2,918309,4,BATCH4,250507,240,16.92,CBH,60
3,916462,1,BATCH1,250508,248,18.50,RML,60
4,918277,9,BATCH4,250508,220,18.98,RML,90

In [7]:
# Two more column operations to perform on this dataframe:

# 1. recode the date in yy-mm-dd format
# convert dates to strings
dtStrings = FansMetaData['date_nuc_prep'].astype(str)

# add 20 prefix to the year
yyyy_strings = "20" + dtStrings.str[:2] + dtStrings.str[2:]

# # convert to datetime values
dateTime = pd.to_datetime(yyyy_strings, format="%Y%m%d")
FansMetaData["date_nuc_prep"] = dateTime

FansMetaData.head()

,mouse_n,group_no,inoculation_batch,date_nuc_prep,sample_mass_mg,incubation_time_hrs,inoculum,dpi
0,918310,1,BATCH4,2025-05-06,246,19.00,RML,60
1,917423,19,BATCH3,2025-05-06,207,19.67,22L,120
2,918309,4,BATCH4,2025-05-07,240,16.92,CBH,60
3,916462,1,BATCH1,2025-05-08,248,18.50,RML,60
4,918277,9,BATCH4,2025-05-08,220,18.98,RML,90

In [8]:
# Prepare both DataFrames for merging by standardising the animal id column

# #1. ensure same dtypes
print(f"FansMetadata['mouse_n'] dtype: {FansMetaData['mouse_n'].dtypes} \nsortStatsDf['sample_id'] dtype: {sortStatsDf['sample_id'].dtypes}")
FansMetaData['mouse_n'].dtypes
sortStatsDf['sample_id'].dtypes

# rename both as animal_id
FansMetaData = FansMetaData.rename(columns={'mouse_n': "animal_id"})
sortStatsDf = sortStatsDf.rename(columns={'sample_id': "animal_id"})
# make the two animal id columns strings:
sortStatsDf["animal_id"] = sortStatsDf["animal_id"].astype(str).str.strip()
FansMetaData["animal_id"] = FansMetaData["animal_id"].astype(str).str.strip()

FansMetadata['mouse_n'] dtype: int64
sortStatsDf['sample_id'] dtype: int64

In [9]:
# final check of the Metadata
FansMetaData.head()

,animal_id,group_no,inoculation_batch,date_nuc_prep,sample_mass_mg,incubation_time_hrs,inoculum,dpi
0,918310,1,BATCH4,2025-05-06,246,19.00,RML,60
1,917423,19,BATCH3,2025-05-06,207,19.67,22L,120
2,918309,4,BATCH4,2025-05-07,240,16.92,CBH,60
3,916462,1,BATCH1,2025-05-08,248,18.50,RML,60
4,918277,9,BATCH4,2025-05-08,220,18.98,RML,90

In [10]:
sortStatsDf.head()

  animal_id Population  EstTotalCount
0    918310       PU1+         144824
1    918310      NeuN+        4359464
2    918310     SOX10+         668362
3    918310      SOX2+         249886
4    917423       PU1+         256364

In [11]:
# Checking FansMetaData for duplicate animal IDs before the merge
dupFans = FansMetaData['animal_id'].duplicated(keep=False)

dupFansRows = FansMetaData.loc[dupFans].sort_values("animal_id")
if dupFansRows.empty:
    print("there are no duplicates")
else:
    print(dupFansRows)

there are no duplicates

In [12]:
# In the SortStatsDf, each animal ID should be repeated four times, once for each cell type
# Let's check

#count the number of times each animal id occurs
key = sortStatsDf["animal_id"]
counts = key.value_counts()


bad_ids = counts[counts != 4].index
bad_rows = sortStatsDf[ key.isin(bad_ids) ].sort_values(["animal_id","Population"])
print(bad_rows) # sample ID 916507 is duplicated, but the totals are diff. - fixed this, found ncorrect filenames in the sort reports for 916507 and 916439

Empty DataFrame
Columns: [animal_id, Population, EstTotalCount]
Index: []

In [13]:
# We need to merge the two dataframes; however, the metadata is wide-format and the
# sort stats is long format.

# Remove duplicates of animal_id x population combinations, otherwise pivot will fail
aggregate = (sortStatsDf
            .groupby(["animal_id", "Population"], as_index=False, sort=False)
            .sum(min_count=1))

# Pivot SortStats to wide to perform the merge
wideSortStats = (aggregate
                .pivot(index="animal_id", columns="Population", values="EstTotalCount")
                .reset_index()
                .rename_axis(None, axis=1))

wideSortStats = wideSortStats.rename(columns={
    "PU1+":   "PU1+_EstTotalCount",
    "NeuN+":  "NeuN+_EstTotalCount",
    "SOX10+": "SOX10+_EstTotalCount",
    "SOX2+":  "SOX2+_EstTotalCount",
})

wideSortStats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   animal_id             72 non-null     object
 1   NeuN+_EstTotalCount   72 non-null     int64
 2   PU1+_EstTotalCount    72 non-null     int64
 3   SOX10+_EstTotalCount  72 non-null     int64
 4   SOX2+_EstTotalCount   72 non-null     int64
dtypes: int64(4), object(1)
memory usage: 2.9+ KB

In [14]:
FansMetaData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   animal_id            72 non-null     object
 1   group_no             72 non-null     int64
 2   inoculation_batch    72 non-null     object
 3   date_nuc_prep        72 non-null     datetime64[ns]
 4   sample_mass_mg       72 non-null     int64
 5   incubation_time_hrs  72 non-null     float64
 6   inoculum             72 non-null     object
 7   dpi                  72 non-null     category
dtypes: category(1), datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 4.3+ KB

In [15]:
# We are ready to join these dataframes together

# final check of duplicity
dupes = FansMetaData["animal_id"][FansMetaData["animal_id"].duplicated(keep=False)]
assert dupes.empty, f"Duplicate animal_id: {sorted(dupes.unique())}"

fullFansWide = FansMetaData.merge(wideSortStats,
                                  on="animal_id",
                                  how="left",
                                  validate="one_to_one"
                                 )
fullFansWide

,animal_id,group_no,inoculation_batch,date_nuc_prep,sample_mass_mg,incubation_time_hrs,inoculum,dpi,NeuN+_EstTotalCount,PU1+_EstTotalCount,SOX10+_EstTotalCount,SOX2+_EstTotalCount
0,918310,1,BATCH4,2025-05-06,246,19.00,RML,60,4359464,144824,668362,249886
1,917423,19,BATCH3,2025-05-06,207,19.67,22L,120,2913658,256364,467283,122749
2,918309,4,BATCH4,2025-05-07,240,16.92,CBH,60,5017422,134314,645822,234638
3,916462,1,BATCH1,2025-05-08,248,18.50,RML,60,4324274,140470,706017,244351
4,918277,9,BATCH4,2025-05-08,220,18.98,RML,90,5102254,264586,905283,298508
...,...,...,...,...,...,...,...,...,...,...,...,...
67,918318,4,BATCH4,2025-08-19,221,19.48,CBH,60,4554922,171820,453511,152305
68,917440,4,BATCH3,2025-08-20,254,18.80,CBH,60,5347233,211766,758600,261952
69,916468,19,BATCH1,2025-08-20,243,19.43,22L,120,5392978,306715,849748,171849
70,917445,3,BATCH3,2025-08-21,294,22.62,22L,60,6112909,253611,1250343,358748
71,918278,17,BATCH4,2025-08-21,215,18.08,RML,120,5392996,300484,1154194,174691

In [16]:
# I will not use mass-normalised counts for statistical inference but they might be helpful 
# plotting. 
fullFansWide["PU1+_EstTotalCount_per_mg"] = fullFansWide["PU1+_EstTotalCount"] / fullFansWide["sample_mass_mg"]
fullFansWide["NeuN+_EstTotalCount_per_mg"]  = fullFansWide["NeuN+_EstTotalCount"] / fullFansWide["sample_mass_mg"]
fullFansWide["SOX10+_EstTotalCount_per_mg"] = fullFansWide["SOX10+_EstTotalCount"] / fullFansWide["sample_mass_mg"]
fullFansWide["SOX2+_EstTotalCount_per_mg"]  = fullFansWide["SOX2+_EstTotalCount"] / fullFansWide["sample_mass_mg"]

fullFansWide.columns

Index(['animal_id', 'group_no', 'inoculation_batch', 'date_nuc_prep',
       'sample_mass_mg', 'incubation_time_hrs', 'inoculum', 'dpi',
       'NeuN+_EstTotalCount', 'PU1+_EstTotalCount', 'SOX10+_EstTotalCount',
       'SOX2+_EstTotalCount', 'PU1+_EstTotalCount_per_mg',
       'NeuN+_EstTotalCount_per_mg', 'SOX10+_EstTotalCount_per_mg',
       'SOX2+_EstTotalCount_per_mg'],
      dtype='object')

In [17]:
# Some plotting libraries and statistical analyses prefer long-format data,so I will create
# a longer form, and then we can export and save both as CSVs

# build list of nuclei types
nuclei = ["PU1+", "NeuN+", "SOX10+", "SOX2+"]

# make a list that incudes any column in the wide data that starts with the 
# strings in the nuclei list and contains and underscore after
countColumns = [col for col in fullFansWide.columns
                if "_" in col and any(col.startswith(n + "_") for n in nuclei)]

# build a list of all columns not relating to ppopulation or counts
id_vars = [col for col in fullFansWide.columns if col not in countColumns]

long = fullFansWide.melt(id_vars=id_vars, value_vars=countColumns,
               var_name="count_metric", value_name="count_value")

# now we need to get the population names into a column of their own
# use str.split to split at the first underscore of "NeuN+_EstTotalCount"
long[["population", "count_statistic"]] = long["count_metric"].str.split("_", n=1, expand=True)

# get rid of count_metric coulmn in which nuc type and count type are combined
long = long.drop(columns="count_metric")

# Finally: re-order columns 
long = long[[
    "animal_id",
    "group_no",
    "inoculum",
    "inoculation_batch",
    "dpi",
    "sample_mass_mg",
    "date_nuc_prep",
    "incubation_time_hrs",
    "population",
    "count_statistic",
    "count_value"  
    
]]
long

,animal_id,group_no,inoculum,inoculation_batch,dpi,sample_mass_mg,date_nuc_prep,incubation_time_hrs,population,count_statistic,count_value
0,918310,1,RML,BATCH4,60,246,2025-05-06,19.00,NeuN+,EstTotalCount,4.359464e+06
1,917423,19,22L,BATCH3,120,207,2025-05-06,19.67,NeuN+,EstTotalCount,2.913658e+06
2,918309,4,CBH,BATCH4,60,240,2025-05-07,16.92,NeuN+,EstTotalCount,5.017422e+06
3,916462,1,RML,BATCH1,60,248,2025-05-08,18.50,NeuN+,EstTotalCount,4.324274e+06
4,918277,9,RML,BATCH4,90,220,2025-05-08,18.98,NeuN+,EstTotalCount,5.102254e+06
...,...,...,...,...,...,...,...,...,...,...,...
571,918318,4,CBH,BATCH4,60,221,2025-08-19,19.48,SOX2+,EstTotalCount_per_mg,6.891629e+02
572,917440,4,CBH,BATCH3,60,254,2025-08-20,18.80,SOX2+,EstTotalCount_per_mg,1.031307e+03
573,916468,19,22L,BATCH1,120,243,2025-08-20,19.43,SOX2+,EstTotalCount_per_mg,7.071975e+02
574,917445,3,22L,BATCH3,60,294,2025-08-21,22.62,SOX2+,EstTotalCount_per_mg,1.220231e+03
575,918278,17,RML,BATCH4,120,215,2025-08-21,18.08,SOX2+,EstTotalCount_per_mg,8.125163e+02

In [18]:
# save long format data to csv

longcsvDir = Path(Path.cwd(),"tidied_FANS_data")

if not os.path.exists(longcsvDir):
    os.makedirs(longcsvDir)

longPath = longcsvDir / "exp383_tidy_FANS_data_long.csv"

long.to_csv(longPath, index=False)
longcsvDir

PosixPath('/home/tmurphy/phd_work/experiment_383/exp_383_flowCytometry_analysis/tidied_FANS_data')

In [19]:
fullFansWide.columns

Index(['animal_id', 'group_no', 'inoculation_batch', 'date_nuc_prep',
       'sample_mass_mg', 'incubation_time_hrs', 'inoculum', 'dpi',
       'NeuN+_EstTotalCount', 'PU1+_EstTotalCount', 'SOX10+_EstTotalCount',
       'SOX2+_EstTotalCount', 'PU1+_EstTotalCount_per_mg',
       'NeuN+_EstTotalCount_per_mg', 'SOX10+_EstTotalCount_per_mg',
       'SOX2+_EstTotalCount_per_mg'],
      dtype='object')

In [20]:
# Wide df still useful so re order columns and save that too

fullFansWide = fullFansWide[[
    "animal_id",
    "group_no",
    "inoculum",
    "inoculation_batch",
    "dpi",
    "sample_mass_mg",
    "date_nuc_prep",
    "incubation_time_hrs",
    'NeuN+_EstTotalCount',
    'PU1+_EstTotalCount',
    'SOX10+_EstTotalCount',
    'SOX2+_EstTotalCount',
    'PU1+_EstTotalCount_per_mg',
    'NeuN+_EstTotalCount_per_mg',
    'SOX10+_EstTotalCount_per_mg',
    'SOX2+_EstTotalCount_per_mg'    
]]

widePath = longcsvDir / "exp383_tidy_FANS_data_wide.csv"
fullFansWide.to_csv(widePath, index=False)