# 25/10/08 Visualisation and analysis of FANS count data.

In this notebook, we will work on the long-format data frame generated in `SortStatsFromPDFSortReports.ipynb`. It combines the meta-data, recorded by hand during sample processing, with the count data obtained post-sorting. 

To do:
- explore the data with a variety of plots and summary statistics
- perform inferential analysis on the variables driving cell number differences between groups.

In [32]:
from pathlib import Path
import pandas as pd

In [33]:
# Make pandas display floats nicely without ffecting underlying data
pd.set_option("display.float_format", "{:,.2f}".format)

In [41]:
# load in the tidied, long-format FANS data
df_path = Path("tidied_FANS_data/exp383_tidy_FANS_data_long.csv")
df = pd.read_csv(df_path)
df.head()

,animal_id,group_no,inoculum,inoculation_batch,dpi,sample_mass_mg,date_nuc_prep,incubation_time_hrs,population,count_statistic,count_value
0,918310,1,RML,BATCH4,60,246,2025-05-06,19.00,NeuN+,EstTotalCount,"4,359,464.00"
1,917423,19,22L,BATCH3,120,207,2025-05-06,19.67,NeuN+,EstTotalCount,"2,913,658.00"
2,918309,4,CBH,BATCH4,60,240,2025-05-07,16.92,NeuN+,EstTotalCount,"5,017,422.00"
3,916462,1,RML,BATCH1,60,248,2025-05-08,18.50,NeuN+,EstTotalCount,"4,324,274.00"
4,918277,9,RML,BATCH4,90,220,2025-05-08,18.98,NeuN+,EstTotalCount,"5,102,254.00"

In [3]:
populationStats = (
    df.groupby(["population", "count_statistic"])["count_value"]
        .agg(["count", "mean", "std", "min", "max"])
        .sort_values(by=["count_statistic", "population"])
        .reset_index()
)

populationStats

In [28]:
# repeating the analysis for the groups of interest
groupStats = (
    df.groupby(["dpi", "inoculum","population", "count_statistic"])["count_value"]
        .agg(["count", "mean", "std", "min", "max"])
        .sort_values(by=["count_statistic", "population"])
        .reset_index()
)

csvpath = Path("tidied_FANS_data/FANS_population_counts_by_group.csv")
groupStats.to_csv()

NeuNStats = groupStats[groupStats["population"] == "NeuN+"].reset_index(drop=True)
PU1Stats  = groupStats[groupStats["population"] == "PU1+"].reset_index(drop=True)
SOX10Stats= groupStats[groupStats["population"] == "SOX10+"].reset_index(drop=True)
SOX2Stats = groupStats[groupStats["population"] == "SOX2+"].reset_index(drop=True)

In [42]:
NeuNStats

,dpi,inoculum,population,count_statistic,count,mean,std,min,max
0,60,22L,NeuN+,EstTotalCount,6,"5,296,955.00","1,147,793.42","3,555,483.00","6,638,607.00"
1,60,CBH,NeuN+,EstTotalCount,6,"4,468,945.33","1,212,032.46","2,165,855.00","5,433,749.00"
2,60,ME7,NeuN+,EstTotalCount,6,"4,422,387.17","865,644.88","3,742,073.00","6,081,797.00"
3,60,RML,NeuN+,EstTotalCount,6,"4,144,303.83","605,745.56","3,027,589.00","4,851,478.00"
4,90,22L,NeuN+,EstTotalCount,6,"5,069,785.17","966,778.70","3,850,140.00","6,308,775.00"
5,90,CBH,NeuN+,EstTotalCount,6,"4,934,775.17","1,099,631.50","3,429,660.00","6,020,931.00"
6,90,ME7,NeuN+,EstTotalCount,6,"3,965,455.33","505,209.64","3,510,850.00","4,944,121.00"
7,90,RML,NeuN+,EstTotalCount,6,"6,186,290.33","1,586,578.99","4,110,742.00","8,113,432.00"
8,120,22L,NeuN+,EstTotalCount,6,"5,001,261.00","1,205,751.89","2,913,658.00","6,056,519.00"
9,120,CBH,NeuN+,EstTotalCount,6,"4,846,132.33","1,536,279.51","3,377,948.00","7,663,752.00"
10,120,ME7,NeuN+,EstTotalCount,6,"4,727,441.50","1,316,614.46","3,170,809.00","6,579,571.00"
11,120,RML,NeuN+,EstTotalCount,6,"4,630,349.83","1,474,139.41","2,417,080.00","6,460,500.00"
12,60,22L,NeuN+,EstTotalCount_per_mg,6,"21,528.21","5,121.92","14,165.27","28,249.39"
13,60,CBH,NeuN+,EstTotalCount_per_mg,6,"20,083.53","4,903.79","10,829.27","25,630.89"
14,60,ME7,NeuN+,EstTotalCount_per_mg,6,"20,079.89","5,273.25","15,789.34","29,099.51"
15,60,RML,NeuN+,EstTotalCount_per_mg,6,"17,844.98","1,623.56","15,620.29","20,125.81"
16,90,22L,NeuN+,EstTotalCount_per_mg,6,"21,835.66","5,109.84","15,159.56","26,970.48"
17,90,CBH,NeuN+,EstTotalCount_per_mg,6,"19,842.21","4,321.68","14,055.76","24,218.89"
18,90,ME7,NeuN+,EstTotalCount_per_mg,6,"16,248.06","2,399.23","14,527.97","20,861.27"
19,90,RML,NeuN+,EstTotalCount_per_mg,6,"24,584.41","3,024.85","19,299.26","27,044.77"
20,120,22L,NeuN+,EstTotalCount_per_mg,6,"21,695.06","4,323.92","14,075.64","26,563.68"
21,120,CBH,NeuN+,EstTotalCount_per_mg,6,"19,648.44","5,045.20","14,193.06","28,384.27"
22,120,ME7,NeuN+,EstTotalCount_per_mg,6,"19,452.43","5,532.47","12,683.24","26,109.41"
23,120,RML,NeuN+,EstTotalCount_per_mg,6,"21,260.30","6,986.19","9,865.63","30,474.06"

In [43]:
PU1Stats

,dpi,inoculum,population,count_statistic,count,mean,std,min,max
0,60,22L,PU1+,EstTotalCount,6,"203,900.17","66,581.42","131,077.00","307,741.00"
1,60,CBH,PU1+,EstTotalCount,6,"173,772.17","65,429.75","113,656.00","285,441.00"
2,60,ME7,PU1+,EstTotalCount,6,"192,847.50","46,149.97","137,344.00","272,697.00"
3,60,RML,PU1+,EstTotalCount,6,"153,160.00","28,055.45","114,186.00","195,702.00"
4,90,22L,PU1+,EstTotalCount,6,"257,416.83","65,912.37","150,372.00","318,621.00"
5,90,CBH,PU1+,EstTotalCount,6,"161,572.00","41,249.66","99,394.00","211,080.00"
6,90,ME7,PU1+,EstTotalCount,6,"197,203.50","62,335.84","153,305.00","317,107.00"
7,90,RML,PU1+,EstTotalCount,6,"328,564.33","118,443.77","222,295.00","520,370.00"
8,120,22L,PU1+,EstTotalCount,6,"237,568.00","79,642.47","153,897.00","349,635.00"
9,120,CBH,PU1+,EstTotalCount,6,"209,205.83","90,847.12","107,237.00","334,757.00"
10,120,ME7,PU1+,EstTotalCount,6,"295,029.33","60,775.04","232,130.00","374,553.00"
11,120,RML,PU1+,EstTotalCount,6,"337,489.17","62,584.69","292,983.00","456,473.00"
12,60,22L,PU1+,EstTotalCount_per_mg,6,830.05,298.40,522.22,"1,373.84"
13,60,CBH,PU1+,EstTotalCount_per_mg,6,785.62,296.64,559.64,"1,346.42"
14,60,ME7,PU1+,EstTotalCount_per_mg,6,866.90,205.36,579.51,"1,099.58"
15,60,RML,PU1+,EstTotalCount_per_mg,6,666.98,152.97,560.41,964.05
16,90,22L,PU1+,EstTotalCount_per_mg,6,"1,095.89",276.00,671.30,"1,448.28"
17,90,CBH,PU1+,EstTotalCount_per_mg,6,643.44,133.26,477.86,821.32
18,90,ME7,PU1+,EstTotalCount_per_mg,6,810.84,275.91,601.20,"1,338.00"
19,90,RML,PU1+,EstTotalCount_per_mg,6,"1,313.79",387.60,926.24,"1,986.15"
20,120,22L,PU1+,EstTotalCount_per_mg,6,"1,031.02",302.12,724.81,"1,398.54"
21,120,CBH,PU1+,EstTotalCount_per_mg,6,850.11,346.44,427.24,"1,317.94"
22,120,ME7,PU1+,EstTotalCount_per_mg,6,"1,216.32",285.03,921.15,"1,600.65"
23,120,RML,PU1+,EstTotalCount_per_mg,6,"1,544.63",324.83,"1,195.85","2,153.17"

In [44]:
SOX2Stats

,dpi,inoculum,population,count_statistic,count,mean,std,min,max
0,60,22L,SOX2+,EstTotalCount,6,"304,220.00","110,174.78","157,122.00","415,765.00"
1,60,CBH,SOX2+,EstTotalCount,6,"211,137.17","45,997.09","152,305.00","261,952.00"
2,60,ME7,SOX2+,EstTotalCount,6,"266,414.33","123,406.62","162,677.00","432,133.00"
3,60,RML,SOX2+,EstTotalCount,6,"247,642.50","14,504.53","229,649.00","273,467.00"
4,90,22L,SOX2+,EstTotalCount,6,"248,651.00","62,556.31","189,516.00","366,102.00"
5,90,CBH,SOX2+,EstTotalCount,6,"304,648.67","42,335.23","243,713.00","358,158.00"
6,90,ME7,SOX2+,EstTotalCount,6,"275,164.33","42,152.19","198,941.00","323,672.00"
7,90,RML,SOX2+,EstTotalCount,6,"287,987.50","57,351.20","180,974.00","331,754.00"
8,120,22L,SOX2+,EstTotalCount,6,"293,363.00","140,616.74","122,749.00","447,223.00"
9,120,CBH,SOX2+,EstTotalCount,6,"282,620.33","94,536.72","172,787.00","445,012.00"
10,120,ME7,SOX2+,EstTotalCount,6,"220,427.50","69,834.74","140,863.00","317,167.00"
11,120,RML,SOX2+,EstTotalCount,6,"197,953.67","64,092.24","118,225.00","307,945.00"
12,60,22L,SOX2+,EstTotalCount_per_mg,6,"1,236.02",465.75,651.96,"1,718.04"
13,60,CBH,SOX2+,EstTotalCount_per_mg,6,952.82,175.70,689.16,"1,180.87"
14,60,ME7,SOX2+,EstTotalCount_per_mg,6,"1,240.68",695.35,675.01,"2,195.92"
15,60,RML,SOX2+,EstTotalCount_per_mg,6,"1,089.16",218.90,892.25,"1,383.21"
16,90,22L,SOX2+,EstTotalCount_per_mg,6,"1,045.24",146.51,893.73,"1,284.57"
17,90,CBH,SOX2+,EstTotalCount_per_mg,6,"1,223.95",142.99,"1,046.65","1,421.26"
18,90,ME7,SOX2+,EstTotalCount_per_mg,6,"1,123.49",159.19,825.48,"1,269.30"
19,90,RML,SOX2+,EstTotalCount_per_mg,6,"1,170.62",254.13,849.64,"1,492.79"
20,120,22L,SOX2+,EstTotalCount_per_mg,6,"1,291.77",642.42,592.99,"1,964.76"
21,120,CBH,SOX2+,EstTotalCount_per_mg,6,"1,142.32",308.40,735.26,"1,648.19"
22,120,ME7,SOX2+,EstTotalCount_per_mg,6,906.37,287.35,563.45,"1,258.60"
23,120,RML,SOX2+,EstTotalCount_per_mg,6,909.71,313.05,482.55,"1,452.57"

In [45]:
SOX10Stats

,dpi,inoculum,population,count_statistic,count,mean,std,min,max
0,60,22L,SOX10+,EstTotalCount,6,"1,014,694.17","350,048.93","547,613.00","1,336,045.00"
1,60,CBH,SOX10+,EstTotalCount,6,"622,822.33","100,659.08","453,511.00","758,600.00"
2,60,ME7,SOX10+,EstTotalCount,6,"911,172.67","167,871.66","660,082.00","1,138,063.00"
3,60,RML,SOX10+,EstTotalCount,6,"788,023.67","163,393.50","668,362.00","1,108,861.00"
4,90,22L,SOX10+,EstTotalCount,6,"945,488.00","181,983.65","740,369.00","1,224,530.00"
5,90,CBH,SOX10+,EstTotalCount,6,"986,486.17","203,406.11","652,327.00","1,119,555.00"
6,90,ME7,SOX10+,EstTotalCount,6,"851,365.17","218,523.38","607,854.00","1,195,770.00"
7,90,RML,SOX10+,EstTotalCount,6,"1,161,268.83","241,742.25","905,025.00","1,497,344.00"
8,120,22L,SOX10+,EstTotalCount,6,"983,508.33","312,829.44","467,283.00","1,306,084.00"
9,120,CBH,SOX10+,EstTotalCount,6,"1,031,141.67","223,509.85","729,342.00","1,377,331.00"
10,120,ME7,SOX10+,EstTotalCount,6,"1,072,656.83","312,458.78","663,038.00","1,413,153.00"
11,120,RML,SOX10+,EstTotalCount,6,"976,178.00","347,543.64","519,682.00","1,416,380.00"
12,60,22L,SOX10+,EstTotalCount_per_mg,6,"4,126.43","1,510.77","2,272.25","5,964.49"
13,60,CBH,SOX10+,EstTotalCount_per_mg,6,"2,825.57",438.00,"2,052.09","3,354.95"
14,60,ME7,SOX10+,EstTotalCount_per_mg,6,"4,134.65","1,013.07","2,785.16","5,445.28"
15,60,RML,SOX10+,EstTotalCount_per_mg,6,"3,484.76","1,090.49","2,668.51","5,462.37"
16,90,22L,SOX10+,EstTotalCount_per_mg,6,"3,997.18",440.87,"3,305.22","4,433.00"
17,90,CBH,SOX10+,EstTotalCount_per_mg,6,"3,921.27",499.07,"3,136.19","4,401.11"
18,90,ME7,SOX10+,EstTotalCount_per_mg,6,"3,479.62",903.79,"2,522.22","5,045.44"
19,90,RML,SOX10+,EstTotalCount_per_mg,6,"4,654.56",493.63,"4,114.92","5,214.77"
20,120,22L,SOX10+,EstTotalCount_per_mg,6,"4,264.82","1,241.05","2,257.41","5,629.67"
21,120,CBH,SOX10+,EstTotalCount_per_mg,6,"4,199.49",723.59,"3,064.46","5,101.23"
22,120,ME7,SOX10+,EstTotalCount_per_mg,6,"4,422.09","1,345.63","2,631.10","5,732.50"
23,120,RML,SOX10+,EstTotalCount_per_mg,6,"4,458.23","1,528.45","2,121.15","5,901.58"